<ol class="post-list">
  {{#each posts as |post|}} 
  <!-- loops through all items between {{#each posts }} amd {{/each}} so every list item displays as an actual ist-->
  <li>
    {{> post-info post }} <!-- > + file name + object-->
  </li>
  {{/each}}
</ol>